.filmContent {
    padding: 20px 0 40px;
    display: flex;
    min-height: 304px;
    color: #fff;
}

.posterWrapper {
    width: 300px;
    min-width: 300px;
    margin-right: 40px;
}

.posterWrapper img {
    max-width: 100%;
    height: auto;
}

.titleWrapper {
    margin-bottom: 50px;
}

.title {
    display: inline-block;
    vertical-align: middle;
    margin-right: 30px;
}

.rating {
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    min-height: 38px;
    min-width: 38px;
    padding: 5px;
    text-align: center;
    font-weight: 700;
    border: 3px solid darkred;
    border-radius: 50%;
    background-color: #fff;
    color: deeppink;
}

.tagline {
    margin: 0;
    font-weight: 500;
    font-size: 20px;
}

.characteristics {
    margin-bottom: 50px;
}

.year {
    margin-right: 50px;
}
